@charset "UTF-8";
@font-face {
  font-family: "Indie Flower";
  src: url(/assets/fonts/IndieFlower-Regular.ttf);
}
.font-indie-flower, blockquote {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jacquard 12";
  src: url(/assets/fonts/Jacquard12-Regular.ttf);
}
.font-jacquard, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Climate Crisis";
  src: url(/assets/fonts/ClimateCrisis-Regular.ttf);
}
.font-climate-crisis, nav ul li a {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
}

@font-face {
  font-family: "Dela Gothic One";
  src: url(/assets/fonts/DelaGothicOne-Regular.ttf);
}
.font-dela-gothic, .back {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Mono";
  src: url(/assets/fonts/LibertinusMono-Regular.ttf);
}
.font-libertinus, html,
body {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dina Remaster II";
  src: url(/assets/fonts/DinaRemasterII.ttf);
}
.font-dina-remaster-ii, code {
  font-family: "Dina Remaster II", monospace;
  font-weight: 400;
  font-style: normal;
}

nav {
  width: 150px;
  height: 100%;
  background-color: #604652;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset -30px 0px 20px -30px hsla(0deg, 0%, 0%, 0.25);
  position: fixed;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #433039;
  border-top-right-radius: 12px;
}
nav ul li {
  transition: transform 0.1s cubic-bezier(1, 2, 1, 1);
  position: relative;
  margin-top: -16px;
  transform: scaleX(1.2);
  transform-origin: top left;
  display: block;
  width: 100%;
  height: 150px;
}
nav ul li#home {
  background-color: #d29f80;
  border-bottom: 16px solid #c5835a;
  z-index: 1;
}
nav ul li#blog {
  background-color: #97866a;
  border-bottom: 16px solid #796b55;
  z-index: 2;
}
nav ul li#about {
  background-color: #735557;
  border-bottom: 16px solid #563f41;
  z-index: 3;
}
nav ul li:hover {
  transform: skewY(10deg) scaleX(1.2);
}
nav ul li.active {
  transform: skewY(10deg) scaleX(1.2);
}
nav ul li a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav span.blocker {
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #604652;
  margin-top: -8px;
  z-index: 4;
  border-top-right-radius: 12px;
  box-shadow: inset -30px 0px 20px -30px hsla(0deg, 0%, 0%, 0.25);
}

@font-face {
  font-family: "Indie Flower";
  src: url(/assets/fonts/IndieFlower-Regular.ttf);
}
.font-indie-flower, blockquote {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jacquard 12";
  src: url(/assets/fonts/Jacquard12-Regular.ttf);
}
.font-jacquard, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Climate Crisis";
  src: url(/assets/fonts/ClimateCrisis-Regular.ttf);
}
.font-climate-crisis, nav ul li a {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
}

@font-face {
  font-family: "Dela Gothic One";
  src: url(/assets/fonts/DelaGothicOne-Regular.ttf);
}
.font-dela-gothic, .back {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Mono";
  src: url(/assets/fonts/LibertinusMono-Regular.ttf);
}
.font-libertinus, html,
body {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dina Remaster II";
  src: url(/assets/fonts/DinaRemasterII.ttf);
}
.font-dina-remaster-ii, code {
  font-family: "Dina Remaster II", monospace;
  font-weight: 400;
  font-style: normal;
}

@keyframes back {
  0% {
    --content: "戻る";
  }
  25% {
    --content: "返回";
  }
  50% {
    --content: "zpět";
  }
  75% {
    --content: "назад";
  }
  100% {
    --content: "πίσω";
  }
}
.back {
  color: #f7374f;
  text-transform: uppercase;
  border-bottom: 3px solid #f7374f;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  animation: back 500ms infinite;
}
.back span {
  display: block;
  padding: 0 2px;
  transition: all 0.5s ease;
  transform-origin: 100% 0%;
  transform-style: preserve-3d;
}

.back span::after {
  content: var(--content);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  transform-origin: 50% 0%;
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

.back:hover {
  animation-play-state: paused;
}
.back:hover span {
  transform: translate3d(0px, 0px, 0px) rotateX(90deg) skewY(30deg);
}
.back:hover span::before {
  content: var(--content);
  display: block;
  padding: 0 2px;
  height: 0px;
  color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #0c0c0c;
  background-image: url(/assets/images/background.svg);
  background-repeat: repeat;
  color: #522546;
}

body {
  display: flex;
}

main {
  margin-left: 150px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100svh;
}

a {
  color: #f7374f;
}

article,
footer {
  width: 80%;
  max-width: 800px;
  box-shadow: 20px 20px 0px 0px #f2d7bc;
  background-color: #faf0e6;
  color: #522546;
  margin: auto auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

footer {
  margin-top: auto;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer #footer-images img {
  width: 35px;
  height: 35px;
  mix-blend-mode: multiply;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: #88304e;
  margin: 2px;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  white-space: pre-line;
}

code {
  border-radius: 5px;
}

blockquote {
  padding: 10px 10px;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #97866a;
  border: 2px solid #735557;
  text-align: center;
  color: white;
}
