
$(

category_id() {
  if [[ -z $1 ]]; then
    echo ${GISCUS_CATEGORY_GENERAL}
  fi
  local name=$(echo $1 | tr '[:lower:]' '[:upper:]')
  local accept="ANNOUNCEMENT GENERAL IDEAS POLLS QNA SHOWNTELL"
  local default="GENERAL"

  if [[ $accept =~ $name ]]; then
    eval "echo \${GISCUS_CATEGORY_$name}"
  fi
  eval "echo \${GISCUS_CATEGORY_$default}"
}

header_add << EOF
<script src="https://giscus.app/client.js"
  data-repo="${GISCUS_REPO}"
  data-repo-id="${GISCUS_REPO_ID}"
  data-category-id="$(category_id $category)"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
EOF
)

<div class="giscus"></div>
