
<nav>
  <ul>
    $(href="/" component "navigation/link" <<< "Home")
    $(for page in $(get_tagged "project"); do
      href="$(get_url "$page")" component "navigation/link" <<< $(get_title "$page")
    done)
    $(for page in $(get_tagged "games"); do
      href="$(get_url $page)" component "navigation/link" <<< $(get_title $page)
    done)
    $(for page in $(get_tagged "hobbies"); do
      href="$(get_url $page)" component "navigation/link" <<< $(get_title $page)
    done)
    $(for page in $(get_tagged "arts"); do
      href="$(get_url $page)" component "navigation/link" <<< $(get_title $page)
    done)     
  </ul>
</nav>
