
@font-face {
  font-family: 'Loser';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/loserfont.woff);
}

:root {
  --bg: #101A0B;
  --fg: #f7f4f3;
  --low: #131711;
  --high: #D1496B;
  --accent: #10A070;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Loser' !important;
}

h1 {
  background-color: var(--bg);
  color: var(--fg);
}

footer {
  background-color: var(--bg);
  color: var(--fg);
  position: absolute;
  bottom: 0;
  width: 100%;
}
