$background: #2c2c2c;
$content-background: #faf0e6;
$content-color: #522546;
$content-bright: #88304e;
$content-accent: #f7374f;

$color-back: #f7374f;

$nav-background: #7c444f;
$color-a: #f39e60;
$color-b: #e16a54;
$color-c: #9f5255;
