@font-face {
  font-family: "Indie Flower";
  src: url(/assets/fonts/IndieFlower-Regular.ttf);
}

.font-indie-flower {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jacquard 12";
  src: url(/assets/fonts/Jacquard12-Regular.ttf);
}

.font-jacquard {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Climate Crisis";
  src: url(/assets/fonts/ClimateCrisis-Regular.ttf);
}

.font-climate-crisis {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
}

@font-face {
  font-family: "Dela Gothic One";
  src: url(/assets/fonts/DelaGothicOne-Regular.ttf);
}

.font-dela-gothic {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Mono";
  src: url(/assets/fonts/LibertinusMono-Regular.ttf);
}

.font-libertinus {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dina Remaster II";
  src: url(/assets/fonts/DinaRemasterII.ttf);
}

.font-dina-remaster-ii {
  font-family: "Dina Remaster II", monospace;
  font-weight: 400;
  font-style: normal;
}
