@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Indie+Flower&family=Jacquard+12&display=swap");

.font-indie-flower {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-jacquard {
  font-family: "Climate Crisis", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-climate-crisis {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
}
