
html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
    line-height: 1.2;
}

ul.simple {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

a {
    text-decoration: underline;
    color: black;
}

summary {
    cursor: pointer;
    margin-bottom: .2rem;
}

details {
    margin-bottom: 1rem;
}

header {
    border-bottom: 1px solid black;
    padding-left: 1rem;
}

body > div {
    display: flex;
}

nav {
    padding: 1rem;
    margin-right: 2rem;
}

main {
    padding: 1rem;
}

main * {
    max-width: 600px;
}

code, code * {
    font-family: monospace !important;
}

p {
    line-height: 1.8;
}

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 1rem;
}

@media screen and (max-width: 600px) {
    body > div {
        flex-direction: column;
    }
    
    nav {
        width: 100%;
        margin-bottom: 2rem;
    }
    
    main {
        width: 100%;
    }

    #avatar {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}