@import "assets/fonts";
@import "assets/navigation";
@import "assets/colors";
@import "assets/back";

html,
body {
  @extend .font-libertinus;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: $background;
  background-image: url(/assets/images/background.svg);
  background-repeat: repeat;
  color: $content-color;
}

body {
  display: flex;
}

main {
  margin-left: 150px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  min-height: 100svh;
}

a {
  color: $content-accent;
}

article,
footer {
  width: 80%;
  max-width: 800px;
  box-shadow: 20px 20px 0px 0px $content-shadow;
  background-color: $content-background;
  color: $content-color;
  margin: auto auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

footer {
  margin-top: auto;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer #footer-images img {
  width: 35px;
  height: 35px;
  mix-blend-mode: multiply;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .font-jacquard;
  text-align: center;
  color: $content-bright;
  margin: 2px;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  white-space: pre-line;
}

code {
  border-radius: 5px;
}
