@import "colors";

$size: 150px;
$bottom-side: 16px;
$edge-rounding: 12px;

nav {
  width: $size;
  height: 100%;
  background-color: $nav-background;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset -30px 0px 20px -30px hsla(0deg, 0%, 0%, 0.25);
  position: fixed;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: darken($nav-background, 10%);
    border-top-right-radius: $edge-rounding;

    li {
      &#home {
        background-color: $color-a;
        border-bottom: $bottom-side solid darken($color-a, 10%);
        z-index: 1;
      }

      &#blog {
        background-color: $color-b;
        border-bottom: $bottom-side solid darken($color-b, 10%);
        z-index: 2;
      }

      &#about {
        background-color: $color-c;
        border-bottom: $bottom-side solid darken($color-c, 10%);
        z-index: 3;
      }

      &:hover {
        transform: skewY(10deg) scaleX(1.2);
      }

      &.active {
        transform: skewY(10deg) scaleX(1.2);
      }

      transition: transform 0.1s cubic-bezier(1, 2, 1, 1);

      position: relative;
      margin-top: calc($bottom-side * -1);
      transform: scaleX(1.2);
      transform-origin: top left;
      display: block;
      width: 100%;
      height: $size;

      a {
        @extend .font-climate-crisis;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        display: grid;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  span.blocker {
    position: relative;
    width: 100%;
    height: calc($bottom-side * 4);
    background-color: $nav-background;
    margin-top: calc($bottom-side * -0.5);
    z-index: 4;
    border-top-right-radius: $edge-rounding;
    box-shadow: inset -30px 0px 20px -30px hsla(0deg, 0%, 0%, 0.25);
  }
}
