
<nav>
    <details open>
        <summary>
            Projects
        </summary>
        <ul class="simple">
            <li>
                <a href="+$/pages/projects/macropad.htm:url;">Macropad</a>
            </li>
            <li>
                <a href="+$/pages/projects/lexer.htm:url;">Static Lexer</a>
            </li>
        </ul>
    </details>
    <details open>
        <summary>Keyboards</summary>
        <ul class="simple">
            <li>
                <a href="+$/pages/keyboards/planck_bento.htm:url;">OLKB Planck \+ GMK Bentō</a>
            </li>
        </ul>
    </details>
</nav>