
<nav>
    <a href="/">
        <b>Home</b>
    </a>
    <details open>
        <summary>
            Projects
        </summary>
        <ul class="simple">
            {each tag=project:
                <li>
                    <a href="+url;">+title;</a>
                </li>
            }
        </ul>
    </details>
    <details open>
        <summary>Keyboards</summary>
        <ul class="simple">
            {each tag=keyboards:
                <li>
                    <a href="+url;">+title;</a>
                </li>
            }
        </ul>
    </details>
    <details open>
        <summary>Music</summary>
        <ul class="simple">
            {each tag=music:
                <li>
                    <a href="+url;">+title;</a>
                </li>
            }
        </ul>
    </details>
    {each tag=none:
        <a href="+url;">+title;</a>
    }
    <a href="https://social.flamingo.dev">Socials</a>
</nav>