
<nav>
    <details open>
        <summary>
            Projects
        </summary>
        <ul class="simple">
            <li>
                <a href="+$/pages/projects/macropad.htm:url;">Macropad</a>
            </li>
            <li>
                <a href="+$/pages/projects/lexer.htm:url;">Static Lexer</a>
            </li>
        </ul>
    </details>
    <details open>
        <summary>Keyboards</summary>
        <ul class="simple">
            <li>
                <a href="+$/pages/keyboards/artisans.htm:url;">Artisan Keycaps</a>
            </li>
            <li>
                <a href="+$/pages/keyboards/deskmats.htm:url;">Deskmats</a>
            </li>
            <li>
                <a href="+$/pages/keyboards/discipline_botanical.htm:url;">Discipline \+ GMK Botanical</a>
            </li>
            <li>
                <a href="+$/pages/keyboards/planck_bento.htm:url;">OLKB Planck \+ GMK Bentō</a>
            </li>
            <li>
                <a href="+$/pages/keyboards/rhymestone_gateway.htm:url;">Rhymestone \+ GMK Gateway</a>
            </li>
            <li>
                <a href="+$/pages/keyboards/apricot_bliss.htm:url;">Apricot \+ SA Bliss</a>
            </li>
        </ul>
    </details>
</nav>