
#alias = template;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi, i'm Human, this is my small blog where i post random stuff that im interested in and get excited about! Feel welcome, take a look and get some inspiration? Who knows!">
    <meta http-equiv="Content-Security-Policy" content="default-src yesimhuman.dev; script-src yesimhuman.dev 'unsafe-inline'; img-src yesimhuman.dev avatars.githubusercontent.com; style-src yesimhuman.dev; media-src yesimhuman.dev">
    <title>+title;</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link lazyload rel="stylesheet" href="/assets/atom-one-dark.min.css">
    <script async src="/assets/highlight.min.js"></script>
</head>
<body>
    <header>
        <a href="/">
            <img lazyload 
                src="https://avatars.githubusercontent.com/meir" 
                alt="my github avatar"
                id="avatar"
            >
        </a>
    </header>
    <div>
        {$/components/navigation.htm}
        <main>
            +content;
        </main>
    </div>
    {$/components/footer.htm}
    <script async>
        window.addEventListener('load', () => {
            document.querySelectorAll("code").forEach(function(element) {
                element.innerHTML = element.innerHTML.
                    replace(/&/g, "&amp;").
                    replace(/</g, "&lt;").
                    replace(/>/g, "&gt;").
                    replace(/"/g, "&quot;").
                    replace(/'/g, "&#039;");
            });
            hljs.highlightAll();
        })
    </script>
</body>
</html>