<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+title;</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
</head>
<body>
    <header>
        <a href="/">
            <img 
                src="https://avatars.githubusercontent.com/meir" 
                alt=""
                id="avatar"
            >
        </a>
    </header>
    <div>
        {$/components/navigation.htm}
        <main>
            +content;
        </main>
    </div>
    {$/components/footer.htm}
    <script>hljs.highlightAll();</script>
</body>
</html>